<% layout("/layouts/boilerplate.ejs") %>
<body>
    <ul>
        <li><%= listingData.title %></li>
        <li><%= listingData.description %></li>
        <li> &#x20B9 <%= listingData.price.toLocaleString('en-IN') %></li>
        <li><%= listingData.location %></li>

    </ul>
    <a href="/listing/<%= listingData._id %>/edit" >edit this listing</a>
    <a href="/listings">goto listing</a>
    <form method="post" action="/listing/<%= listingData._id %>?_method=DELETE" ><button>delete this listing</button></form>
</body>
</html>